body {
    font-family: 'Lato', sans-serif;

    #app {
        text-align: center;
        font-size: 18px;
        padding: 0 70px;
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
        color: #006494;
        button {
            border-radius: 4px;
            background-color: dodgerblue;
            color: #051923;
            outline: none;
            border: none;
            padding: 10px 13px;
            cursor: pointer;
        }

        .num {
            color: #AF007E;
        }
    }
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

hr {
    opacity: .5;
}